body {
  background-color: #ffffff;
  font-family: 'Roboto', 'Raleway', sans-serif;
  color: #434455;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
a {
  color: currentColor;
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
section {
  padding-top: 120px;
  padding-bottom: 120px;
}
button {
}
/*                heder             */

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.header-container {
  display: flex;
  justify-content: space-between;
}
.page {
  background-color: #fff;
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  /*flex-shrink: 0;*/
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
/*box-shadow: зі значенням 0px 2px 1px rgba(46, 47, 66, 0.08),
  0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);*/
.page-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.logo-style-heder {
  color: #2e2f42;
}

.page-menu,
.page-contacts {
  font-style: normal;
  display: flex;
  gap: 40px;
}

.menu {
  position: relative;
  display: block;
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts {
  display: block;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-decoration: none;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu:hover,
.menu:focus,
.contacts:hover,
.contacts:focus {
  color: #404bbf;
}

.menu.active {
  color: #404bbf;
}
.menu.active::after {
  position: absolute;
  bottom: -1px;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu:hover::after,
.menu:focus::after {
  background-color: #404bbf;
}

/*          hero          */

.hero {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(..//images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  max-width: 1440px;
  margin: auto;
}

.container.hero {
}

.hero-title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.hero-button {
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  cursor: pointer;
  display: inline-flex;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: block;
  margin: 0 auto;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/*  section  advantages*/

.advantages {
  background-color: #fff;
  margin: 0 auto;
}
.advantages-chapter {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.advantages-list {
  display: flex;
  gap: 24px;
}

.advantages-item {
  width: calc((100% - 3 * 24px) / 4);
}
.advantages-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  border-radius: 4px;
  border: 1px solid var(--LIGHT-SLATE, #8e8f99);
  background: var(--CLOUD, #f4f4fd);
  padding: 24px 0;
  margin-bottom: 8px;
}
.advantages-icon {
  display: block;
  margin: auto;
}
.advantages-title {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
  margin-bottom: 8px;
}

.advantages-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*      section specialists      */

.specialists {
  background-color: #f4f4fd;
}

.specialists-chapter {
  color: #2e2f42;
  font-size: 36px;
  text-align: center;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}

.specialists-list {
  background-color: #f4f4fd;
  display: flex;
  gap: 24px;
}

.specialists-card {
  width: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.specialists-content {
  width: 232px;
  padding: 32px 0;
  margin: 0 auto;
}
.specialists-name {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.specialists-text {
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.social-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.social-icons {
  width: 40px;
  height: 40px;
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f4f4fd;
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link-icon {
  fill: currentColor;
}
.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}
/*   section container-portfolio */

.portfolio {
  background-color: #fff;
}

.portfolio-chapter {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin: 0 auto;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  column-gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
}

.portfolio-card {
  width: calc((100% - 2 * 24px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-card:hover .overlay {
  transform: translateY(0);
}
.portfolio-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 32px;
  background-color: #4d5ae5;
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-title {
  margin-top: 32px;
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.portfolio-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

/*     footer    */

.footer-section {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.container.footer {
  display: flex;
  align-items: baseline;
}
.footer-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 264px;
  margin-right: 120px;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 17.5px;
}

.logo-style {
  color: #f4f4fd;
}

.text-footer {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}

.footer-social {
  display: flex;
  flex-direction: column;
  max-width: 208px;
}
.social-media {
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.social-list.footer {
  gap: 16px;
}
.social-link.footer:hover,
.social-link.footer:focus {
  background-color: #31d0aa;
}

.wrapper-subscribe {
  display: flex;
  align-items: center;
  gap: 24px;
}
.form-subscribe {
  display: flex;
  flex-direction: column;
  max-width: 453px;
  margin-left: 80px;
}
.labe-subscribe {
  display: block;
  margin-bottom: 16px;
  color: var(--WHITE, #fff);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.form-input-subscribe {
  width: 264px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--WHITE, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  outline: transparent;
  background-color: transparent;
  padding: 8px 16px;
}

input::placeholder {
  color: var(--WHITE, #fff);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 200% */
  letter-spacing: 0.48px;
  background: var(--NAVY-BLUE, #2e2f42);
}
.subscribe-btn {
  display: inline-flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 4px;
  background: var(--IRIS, #4d5ae5);
  color: var(--WHITE, #fff);
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.form-icon {
  fill: white;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}
.is-open {
}
.modal {
}
.modal-btn-close {
}
.modal-btn-icon {
}
.modal-text {
}
.modal-form {
}
.form-wrapper {
}
.form-label {
}
.form-filed {
}
.form-input {
}
.form-icon {
}
.form-textarea {
}
.form-agreement {
}
.checkbox {
}
.form-agreement-checkbox {
}
.form-agreement-icon {
}
.form-agreement-link {
}
.modal-btn-send {
}
